body{
    height:100vh;
    width:100vw;
    margin:0;
    background-color: black;
}
#contentContainer{
    height:100%;
    width:100%;
    position: relative;
}
.content{
    height:50%;
    width:50%;
    position: absolute;
}
#box1{
    top:0;
    left:0;
    background-color: #2a00ff;
}
#box2{
    top:0;
    right:0;
    background-color: #449d44;
}
#box3{
    bottom:0;
    left:0;
    background-color: #ce8483;
}
#box4{
    bottom:0;
    right:0;
    background-color: #edef7d;
}


.smallDiv{
    height:0;
    width:0;
    opacity: 0;
    transition: 1s;
}
.enlarge{
    animation-name: enLarge;
    animation-duration: 1s;
}
@keyframes enLarge {
    from {
        height:50%;
        width:50%;
    }
    to {
        height:100%;
        width:100%;
    }
}
.largerDiv{
    height:100%;
    width:100%;
}
.contentWrapper{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
}
.breakLine{
    border:.1vh solid white;
    width: 50%;
}
@media screen and (max-width: 699px){
    .content{
        height:25%;
        width:100%;
        position: relative;
    }
    #box1{
        background-color: #843534;
    }
    #box2{
        background-color: #ffaa3e;
    }
    #box3{
        background-color: #758AA8;
    }
    #box4{
        background-color: #c9302c;
    }

    @keyframes enLarge {
        from {
            height:25%;
            width:100%;
        }
        to {
            height:100%;
            width:100%;
        }
    }
    .enlarge{
        animation-name: enLarge;
        animation-duration: 1s;
    }
    .largerDiv{
        height:100%;
        width:100%;
    }
}