*{
    font-size: 0;
}
body{
    width:100vw;
    height:100vh;
}
/*#contentContainer > *{*/
    /*font-size: initial;*/
/*}*/

#contentContainer{
    height:100%;
    width:100%;
    box-sizing: border-box;

}
#headerDiv{
    height:10%;
    width:100%;
    position: relative;
    display: block;
    box-sizing: border-box;

}
.content{
    height:90%;
    width: 25%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition :.8s;
}
.content:hover{
    opacity: .6;
    transition:.5s;
}
.biggerContent{
    height:90%;
    width: 100%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition :.8s;
}
.small{
    display:none;
}