*{
    font-size: 0;
}
body{
    width:100vw;
    height:100vh;
}
#contentContainer > *{
    font-size: initial;
}

#contentContainer{
    height:90%;
    width:100%;
    box-sizing: border-box;
    border:1px solid red;
}
#headerDiv{
    height:10%;
    width:100%;
    position: relative;
    display: block;
    box-sizing: border-box;
    border:1px solid blue;
}
.content{
    height:50%;
    width: 50%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border:1px solid red;
}